.el-colorpicker--default {
  .el-colorpicker {
    &__wrap {
      position: relative;
      padding: 0 0 16px;
    }
  }
  .el-cp-palette {
    &,
    &:before,
    &:after {
      border-top-left-radius: var(--size-radius);
      border-top-right-radius: var(--size-radius);
    }
  }
  .el-cp-color-control {
    display: flex;
    align-items: center;
    user-select: none;
    margin: 16px 0 0;
    padding: 0 var(--size-side-padding);
    &__left {
      margin-right: var(--size-inner-padding, 16px);
    }
    &__body {
      flex: 1;
      > *:nth-child(n+2) {
        margin-top: 8px;
      }
    }
    &__right {
      margin-left: var(--size-inner-padding, 16px);
    }
  }
  .el-cp-color-form {
    margin: 16px 0 0;
    padding: 0 var(--size-side-padding);
  }
  .el-cp-swatches {
    margin: 16px 0 0;
    padding: 16px var(--size-side-padding) 0;
    border-top: 1px solid var(--swatch-border-color);
  }
}
