@use "../../scss/mixins";

.el-cp-color-preview {
  position: relative;
  display: block;
  width: var(--preview-size);
  height: var(--preview-size);
  border-radius: var(--preview-radius);
  box-sizing: border-box;
  overflow: hidden;
  @include mixins.transparent-background(16px);
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    box-shadow: inset 0 0 0 1px var(--preview-stroke-color);
    border-radius: var(--preview-radius);
    pointer-events: none;
  }
  em {
    position: relative;
    display: block;
    height: 100%;
  }
}
