.el-colorpicker--ring {
  --cp-ring-palette-inner-padding: 32px;
  .el-colorpicker {
    &__wrap {
      padding: 0 0 16px;
    }
    &__body {
      position: relative;
    }
  }
  .el-cp-palette-ring {
    padding: 20px;
  }
  .el-cp-palette {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 10;
    width: calc(100% - (20px * 2) - (16px * 2) - (var(--cp-ring-palette-inner-padding) * 2));
    height: calc(100% - (20px * 2) - (16px * 2) - (var(--cp-ring-palette-inner-padding) * 2));
    transform: translate(-50%, -50%);
  }
  .el-cp-color-control {
    margin: 0;
    padding: 0 var(--cp-size-side-padding);
  }
  .el-cp-color-form {
    margin: 16px 0 0;
    padding: 0 var(--cp-size-side-padding);
  }
  .el-cp-swatches {
    margin: 16px 0 0;
    padding: 16px var(--cp-size-side-padding) 0;
    border-top: 1px solid var(--cp-color-light);
  }
}
