@use "../../../scss/mixins";

.el-cp-slider {
  position: relative;
  box-sizing: border-box;

  &:active {
    .el-cp-slider {
      &__circle {
        box-shadow: var(--shadow-pointer-active);
      }
    }
  }

  &__body {
    margin: 0;
    position: relative;
    height: var(--slider-height, 8px);
    border-radius: var(--slider-radius, 4px);
    box-sizing: border-box;
    cursor: default;
    &:after {
      content: '';
      display: block;
      position: absolute;
      z-index: 1;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      pointer-events: none;
      box-shadow: inset 0 0 0 1px var(--slider-stroke-color);
      border-radius: var(--slider-radius, 4px);
    }
  }
  &__bar {
    display: block;
    height: 100%;
    border-radius: var(--slider-radius, 4px);
  }
  &__circle {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 0;
    width: var(--size-pointer, 12px);
    height: var(--size-pointer, 12px);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    border: var(--size-pointer-stroke, 3px) solid var(--color-pointer-fill, #fff);
    box-shadow: var(--shadow-pointer);
    box-sizing: border-box;
    transition: box-shadow var(--speed-focus) ease-out;
  }
  &__brick {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 0;
    width: var(--size-pointer, 12px);
    height: var(--size-pointer, 12px);
    border: var(--size-pointer-stroke, 3px) solid var(--color-pointer-fill, #fff);
    transform: translate(-50%, -50%);
    box-shadow: var(--shadow-pointer);
    box-sizing: border-box;
    transition: box-shadow var(--speed-focus) ease-out;
    border-radius: 2px;
  }

  &--hue {
    .el-cp-slider {
      &__body {
        background: linear-gradient(
          to right,
          #ff0000 0%,
          #ffff00 17%,
          #00ff00 33%,
          #00ffff 50%,
          #0000ff 67%,
          #ff00ff 83%,
          #ff0000 100%
        );
      }
    }
  }
  &--alpha {
    .el-cp-slider {
      &__body {
        @include mixins.transparent-background();
      }
    }
  }
  &--brightness {
    .el-cp-slider {
      &__body {
        background-image: linear-gradient(to right, #000 0%, rgba(255, 255, 255, 0) 100%);
      }
    }
  }
  &--vertical {
    .el-cp-slider {
      &__body {
        height: 100%;
      }
      &__circle,
      &__brick {
        top: 0;
        left: 50%;
      }
      &__brick {
        width: 100%;
        height: 10px;
      }
    }
    &.el-cp-slider {
      &--hue {
        .el-cp-slider {
          &__body {
            background: linear-gradient(
              to bottom,
              #ff0000 0%,
              #ffff00 17%,
              #00ff00 33%,
              #00ffff 50%,
              #0000ff 67%,
              #ff00ff 83%,
              #ff0000 100%
            );
          }
        }
      }
    }
  }
}
