@import "../../scss/mixins";

$control-bar-height: 14px;

.el-cp-color-control {
  display: flex;
  align-items: center;
  user-select: none;
  &__body {
    flex: 1;
    > *:nth-child(n+2) {
      margin-top: 8px;
    }
  }
  &__preview {
    margin-left: var(--cp-side-padding, 16px);
  }
}
