@import "../mixins";

.arrow-button {
  position: relative;
  width: 10px;
  height: 12px;
  padding: 0;
  background-color: transparent;

  &:before {
    content: "";
    display:inline-block;
    position:absolute;
    left: 0;
    right: 0;
    top: 0;
    height:50%;
    @include arrow_top(3px, black);
    margin: 2px;
    box-sizing:border-box;
  }

  &:after {
    content: "";
    display:inline-block;
    position:absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top:50%;
    @include arrow_bottom(3px, black);
    margin: 2px;
    box-sizing:border-box;
  }
}
