&.ring {
    .colorpicker-body {

        > .color {
            position: absolute;
            width: 120px;
            height: 120px;
            left: 52px;
            top: 52px;
        }



    }

    .control {
        padding-top: 0px;

        .value {
            display: none;
        }

        > .color, > .empty {
            top: -17px;
            width: 30px;
            height: 30px;
            border-radius: 2px;
        }
    }
}
