@import './common';
@import './mixins';

.el-colorpicker {
  // color
  --cp-color-bg: #fff;
  --cp-color-fill: #222;
  --cp-color-fill-invert: #fff;
  --cp-color-key: #30A2FF;
  --cp-color-blur: #888;
  --cp-color-light: #ddd;
  --cp-color-active: rgba(0,0,0,.075);
  // size
  --cp-size-width: 240px;
  --cp-size-radius: 3px;
  // etc
  --cp-outer-shadow: 0 0 10px 2px rgba(0,0,0,.12), inset 0 0 0 1px rgba(0,0,0,.15);
  --cp-speed-focus: 200ms;
  // palette
  --cp-palette-height: 150px;
  // slider
  --cp-slider-height: 8px;
  --cp-slider-radius: 4px;
  --cp-slider-pointer-size: 12px;
  --cp-slider-pointer-stroke: 3px;
  --cp-slider-pointer-color: #fff;
  --cp-slider-pointer-shadow: 0 0 2px 1px rgba(0,0,0,.4), inset 0 0 3px 0 rgba(0,0,0,.5);
  // swatches
  --cp-swatch-column: 7;
  --cp-swatch-gap: 8px;
  --cp-swatch-item-size: 22px;
  --cp-swatch-item-stroke: 50%;

  position: relative;
  width: var(--cp-size-width);
  background-color: var(--cp-color-bg);
  border-radius: var(--cp-size-radius);
  box-shadow: var(--cp-outer-shadow);
  box-sizing: border-box;
  user-select: none;
  color: var(--cp-color-fill);

  &, button, input {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    line-height: 1.25;
  }

  // TODO: 여기서부터 레거시 코드
  @import './component/button';

  &.chromedevtool {}

  /* theme */
  @import './themes/sketch';
  @import './themes/palette';
  @import './themes/macos';
  @import './themes/mini';
  @import './themes/mini-vertical';
  @import './themes/ring';
  @import './themes/xd';
  @import './themes/vscode';

  &.hide-colorsets {
    .colorsets {
      display: none !important;
    }
  }
}

@import './component/colorsets-contextmenu';

